# http://editorconfig.org

root=true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf

[*.{yml,yaml,toml}]
indent_size = 2
quote_type = single

[*.{json}]
quote_type = double

[*.{md}]
indent_size = 2
# In Markdown, blank lines can be forced by ending a line with two spaces.
trim_trailing_whitespace = false
